/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/AntiClockFitnessCentreModal/bin/Debug
/AntiClockFitnessCentreModal/obj/Debug
/AntiClockFitnessCentreModal/Debug/
/AntiClockFitnessCentreModal/Release/
/AntiClockFitnessCentreModal/bin/Release
