<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  validate="false" />
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
				  assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<httpRuntime executionTimeout="240" maxRequestLength="20480"/>
		<machineKey validationKey="F3598100183D2B3E45C57FBF873FC1CA6ABF205A797C092ACE04DB7640B5555F252A544F25A185F1CA0B548C9D56564EB36AD4DECFEB7BDCB923D22C38BE79A7" decryptionKey="3F935C617E4F3AF5C62C7B01EB90E1CE68A2337479FFA7B1" validation="SHA1" />
	</system.web>
	<appSettings>
		<!--<add key="ChartImageHandler" value="storage=file;timeout=20;" />-->
		<add key="ChartImageHandler" value="storage=file;timeout=20;url=~/ConvertedImage/;" />
		<add key="SMPTServer" value="smtp.gmail.com"/>
		<add key="SMPTUser" value="atsaipavipvtltd@gmail.com"/>
		<add key="SMPTPwd" value="srajthilak7573"/>
	</appSettings>
	<connectionStrings>
		<!--<add connectionString="Data Source=ARMS-PC\SQLEXPRESS2012;Initial Catalog=ACFitnessCenter;Integrated Security=True;" name="ConnString" providerName="System.Data.SqlClient"/>-->
		<!--<add connectionString="Data Source=ARMS-PC\SQLEXPRESS2012;Initial Catalog=ACFitnessCenter;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" name="ConnString" providerName="System.Data.SqlClient"/>-->
		<add connectionString="Data Source=ARMS-PC\SQLEXPRESS2012;Initial Catalog=ANTIFIT;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" name="ConnString" providerName="System.Data.SqlClient"/>
		<!--<add connectionString="Data Source=184.168.47.21;Initial Catalog=asp;User ID=atsaipavi;Password=ASP!123$;" name="ConnString" providerName="System.Data.SqlClient"/>-->
	
	</connectionStrings>
	<system.webServer>
		<handlers>
			<add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="AntiClockFitnessCentre.EventServicesAspNetAjaxBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>

		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>

			<service name="AntiClockFitnessCentre.EventServices">
				<endpoint address="" behaviorConfiguration="AntiClockFitnessCentre.EventServicesAspNetAjaxBehavior" binding="webHttpBinding" contract="AntiClockFitnessCentre.EventServices"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
